/AdvertiseMeta.java
/CommentMeta.java
/CoordinateMeta.java
/FellowshipMeta.java
/FriendshipMeta.java
/PlaceMeta.java
/PostMeta.java
/ProductMeta.java
/ShopMeta.java
/ShopProductMeta.java
/UserMeta.java
/provaMeta.java
/ImageFragmentMeta.java
/ImageMeta.java
/BlobstoreMeta.java
/TagMeta.java
/TagListMeta.java
/TagAssociationMeta.java
